<!-- ============================ Hero Image =========================== -->

<section id="hero" class="scrollme">
    <div class="container-fluid element-img" style="background: url(<%- config.root %><%- theme.cover %>) no-repeat center center fixed;background-size: cover">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 vertical-align cover boost text-center">
                <div class="center-me animateme" data-when="exit" data-from="0" data-to="0.6" data-opacity="0" data-translatey="100">
                    <div>
                        <% theme.top_saying.forEach(function(item){ %>
                        <h2><%- item.title %></h2>
                        <p><%- item.content %></p>
                        <% }); %>

                    </div>
                </div>
            </div>
            <!-- // .col-md-12 -->
        </div>
        <div class="herofade beige-dk"></div>
    </div>
</section>

<!-- Height spacing helper -->
<div class="heightblock"></div>
<!-- // End height spacing helper -->

<!-- ============================ END Hero Image =========================== -->
<section id="intro">
    <div class="container">
        <div class="col-md-4 col-md-offset-3">
            <%- partial('widget/tag') %>
            <div class="clearfix"></div>
        </div> 
        <div class="col-md-2">
            <%- partial('widget/tagcloud') %>
            <div class="clearfix"></div>
        </div> 
    </div>
</section>
<section id="statement">
    <div class="container text-center wow fadeInUp" data-wow-delay="0.5s">
        <div class="row">
            <p><%- theme.bottom_saying %></p>
        </div>
    </div>
</section>
